default: &default
  version:  '0.3'
development:
  <<: *default
  api_key:  payos_test
  host:     http://localhost:8800
staging:
  <<: *default
  api_key:  B31DCE74-E768-43ED-86DA-85501612548F
  host:     https://demo.kiik.com
production:
  <<: *default
  api_key:  B31DCE74-E768-43ED-86DA-85501612548F
  host:     https://api.kiik.com
